
<!DOCTYPE html>
<html lang="en" style="scroll-behaviour: smooth">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= episode.story %>">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Hlamovies | <%= episode.title %> of <%= series.title %></title>

    <link id="favicon" rel="icon" href="https://cdn.glitch.com/2b137151-b92d-4e53-92f8-683f9efb93af%2FHlaMovies%20(2).png?v=1569001694600" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
   <%- include ("partials/nav") %>
    
    
    <%
     if(user) {
    if(user.username === "HeemPlayz" || user.username === "Ali") {%>
    <div class="container" style="margin-top: 30px; ">
     <a href="/edit/series/<%= series.title %>/season/<%= episode.season %>/episode/<%= episode.title %>"><button class="btn btn-primary" style="display: inline-block;">
       Edit <i class="fas fa-edit"></i>
       </button></a>
      <div class="modal fade text-dark" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation of Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Are you sure you want to delete <code><%= episode.title %> of <%= series.title %> <%= episode.season %></code>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="/delete/series/<%= series.title %>/season/<%= episode.season %>/episode/<%= episode.title %>" method="post">
         <button class="btn btn-danger" data-toggle="modal" data-target="#Modal" style="display: inline-block;">
       Delete <i class="fas fa-trash-alt"></i>
       </button>
        </form>
      </div>
    </div>
  </div>
</div>
       <button class="btn btn-danger" data-toggle="modal" data-target="#Modal" style="display: inline-block;">
       Delete <i class="fas fa-trash-alt"></i>
       </button>
    </div>
     <% } else { %>
     
     <% }
     } else {%>
     
     <% } %>
    
    
   <div class="container" style="margin-top: 100px;">
    <h3 class="text-center" style="text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
       <%= episode.title %> | <%= episode.season %> of <%= series.title %>
     </h3>
     <br>
     <br>
     <img src="<%= series.image %>" width="200" style="border-radius: 12px; display: inline-block; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
     <p style="display: inline-block; margin-left: 10px; font-family: 'Open Sans', sans-serif;">
      <i class="fas fa-bars" style="color:red"></i> Categories: <%= episode.categories %><br>
      <i class="fas fa-globe" style="color:red"></i> Date: <%= episode.date %><br>
      <i class="far fa-clock" style="color:red"></i> Duration: <%= episode.duration %><br>
      <i class="far fa-star" style="color:red"></i> IMDB Rate: <%= episode.rate %>/10<br>
      <i class="fas fa-umbrella" style="color:red"></i> Age: <%= episode.age %><br>
      
     </p>
    
     
    </div>
    
    <div class="container" style="margin-top: 100px;">
      <h3 class="float-left" style="color: red;">
        Story:
      </h3><br><br>
      <p>
        <%= episode.story %>
      </p>
    </div>
    
    <div class="text-center card-server container">
      <iframe name="player_iframe" src="<%= episode.watch %>" allowfullscreen="" scrolling="no" frameborder="0" style="width: 100%; height: 70vh !important;"></iframe>
      <br>
      <br>
      <a href="#episodes">Check Other Episodes</a>
      <div class="container" id="episodes">
    <div style="float:left; margin-top: 139px;">
           <h3 class="text-white" style="border-left: 3px solid red; padding-left: 12px;">
             Episodes
           </h3>
         </div>
    </div>
    
    <div class="container" style="position: relative; margin-top: 200px;">
  <div class="row text-center">
   <% for (var i = 0; i < episodes.length; i++) {
   
   %>
    <div class="col-sm-2">
                      <div>
        
        <a class="btn btn-outline-info" href="/series/<%= series.title %>/season/<%= episode.season %>/episode/<%= episodes[i].title %>">
        <%= episodes[i].title %>
        </a>
        
      </div>
                    </div>
                <% } %>
  </div>
</div>
    </div>
    
     
    
    <%- include ("partials/footer") %>
    
  </body>
</html>
